@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Iceland&family=Lexend:wght@100..900&family=Markazi+Text:wght@400..700&family=Orbitron:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --markazi: "Markazi Text", serif;
  --funnel: "Funnel Display", serif;
  --lexend: "Lexend", serif;
  --orbitron: "Orbitron", serif;
  --iceland: "Iceland", serif;
}

body {
  background-color: #000;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("https://d2pn8kiwq2w21t.cloudfront.net/images/Mars.width-1800.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 3rem;
}

.header h1 {
  font-size: 3rem;
  font-family: var(--iceland);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.spanred {
  color: #c00;
}

.extradiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.headerimg {
  width: 50%;
}

.headerimg img {
  width: 100%;
}

.headertext {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 5rem;
  color: #fff;
}

.headertext small {
  font-size: 1.2rem;
  font-family: var(--funnel);
}

.headertext h1 {
  font-size: 5rem;
  font-family: var(--orbitron);
  margin-bottom: 1rem;
  text-align: left;
}

.headertext p {
  font-size: 1.2rem;
  font-family: var(--funnel);
  line-height: 1.5;
}

.headertext button {
  font-size: 1.8rem;
  background-color: transparent;
  border: 2px solid #c00;
  color: #fff;
  padding: 10px 20px;
  width: max-content;
  outline: none;
  margin-top: 2rem;
  transition: 0.5s all ease;
  font-family: var(--funnel);
  cursor: pointer;
}

.headertext button:hover {
  background-color: #fff;
  color: #000;
}

.mars-timer {
  position: absolute;
  top: 88%;
  right: 0;
  width: 70%;
  /* margin: 0 auto; */
  background-color: #ffffff;
  padding: 2rem 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timer-heading {
  font-size: 2rem;
  font-family: var(--funnel);
  color: #c00;
  font-weight: bold;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 20px 0;
}

.timerextra{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.timer span {
  display: block;
  font-size: 3rem;
  font-family: var(--funnel);
  font-weight: 700;
}

.datadata {
  display: flex;
  flex-direction: column;
}

.datadata > div {
  font-size: 1rem;
  font-family: var(--funnel);
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 4rem;
  color: #333;
}

.details div {
  text-align: left;
  font-size: 1.2rem;
  font-family: var(--funnel);
  color: #000;
}

.details div span {
  font-size: 1rem;
  display: block;
  color: #c00;
  font-weight: bold;
}

.buffer {
  height: 30vh;
}

.about {
  width: 80%;
  margin: 2rem auto;
  color: #fff;
  padding: 2rem;
}

.about h1 {
  font-size: 3rem;
  font-family: var(--funnel);
  text-align: center;
  margin-bottom: 1.5rem;
}

.about p {
  font-size: 1.2rem;
  font-family: var(--funnel);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.instruments {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.instruments h1 {
  font-size: 3rem;
  font-family: var(--funnel);
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fff;
}

.instrudiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.instruments button {
  font-size: 1.8rem;
  background-color: transparent;
  border: 2px solid #c00;
  color: #fff;
  padding: 10px 20px;
  width: max-content;
  outline: none;
  margin-top: 1rem;
  transition: 0.5s all ease;
  font-family: var(--funnel);
}

.instruments button:hover {
  background-color: #fff;
  color: #000;
}

.dateform {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
}

.dateform h1 {
  font-size: 3rem;
  font-family: var(--funnel);
  text-align: center;
  margin-bottom: 1.5rem;
}

.dateform p {
  font-size: 1.2rem;
  font-family: var(--funnel);
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* .dateform hr{
    margin: 2rem 0;
} */

.selects {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
}

.selects .date {
  width: 30%;
  height: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 2px solid #c00;
  outline: none;
  /* border-radius: 22px; */
}

.selects .button2 {
  width: 70%;
  height: 50px;
  border: 2px solid #c00;
  outline: none;
  line-height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  /* border-radius: 22px; */
  transition: 0.3s all ease;
  color: #fff;
}

.selects .button2:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  color: #000;
}

.imggrid {
  width: 80%;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1rem;
}

.btn {
    font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid #c00;
  color: #fff;
  padding: 10px 20px;
  width: max-content;
  outline: none;
  margin-top: 1rem;
  transition: 0.5s all ease;
  font-family: var(--funnel);
  cursor: pointer;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  .btn.active {
    background-color: #fff;
    color: #000;
  }

.row {
  margin: 2rem;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: .5rem;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #fff;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.maingallery{
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 3rem;
}

.gsubdiv{
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.gsubdiv p{
  color: #c00;
  font-size: 1.2rem;
  font-family: var(--funnel);
}

.imgtext{
  width: 30%;
  border: 2px solid #c00;
  padding: .5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.imgtext img{
  width: 100%;
}

.imgtext p{
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  font-family: var(--funnel);
}


.loader-5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  scale: 0.4; /* Increased scale */
}

.loader-5 svg {
  --blue: #c00;
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.8s linear infinite;
  height: 400px; /* Increased size */
  width: 600px; /* Increased size */
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
  }
}

.foot{
  width: 80%;
  padding: 3rem;
  margin: 0 auto;
}

.foot hr{
  width: 100%;
  color: #fff;
}

.foot p{
  font-size: 1.2rem;
  color: #fff;
  font-family: var(--funnel);
  text-align: center;
  margin-top: 1rem;
}

@media (max-width:1080px) {
  .header{
    height: 100%;
    padding: 1rem;
  }
  .header h1{
    font-size: 2.5rem;
    text-align: center;
  }
  .header p{
    text-align: justify;
  }
  .extradiv{
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 4rem;
    gap: 0;
  }
  .extradiv>div{
    width: 100%;
  }
  .headertext{
    align-items: center;
    padding-left: 0;
  }
  .mars-timer{
    position: relative;
    margin: 2rem auto;
    width: 95%;
  }
  .buffer{
    height: 0vh;
  }
  .about{
    width: 95%;
    padding: 1rem;
  }
  .about p{
    text-align: justify;
  }
  .instruments{
    width: 95%;
    padding: 1rem;
  }
  .instrudiv{
    justify-content: center;
  }
  .dateform{
    width: 95%;
    padding: 1rem;
  }
  .selects{
    flex-direction: column;
    width: 95%;
  }
  .selects .date{
    width: 100%;
  }
  .selects .button2{
    width: 100%;
  }
  .imggrid{
    width: 95%;
  }
  .maingallery{
    width: 95%;
    padding: 1rem;
  }
  .gsubdiv{
    flex-direction: column;
  }
  .imgtext{
    width: 100%;
  }
  .foot{
    width: 95%;
    padding: 1rem;
  }
}

@media (max-width:760px) {
  .details{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .details div{
    text-align: center;
  }
  .timerextra{
    flex-direction: column;
  }
}
